<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Bitcoin Exchange Rate</title>
</head>
<body>
<h2>
    Bitcoin Exchange Rate
    <span th:text="${fromCurrency.code + ' 🡒 ' + toCurrency.code}"/>
</h2>
<p th:text="${'(' + fromCurrency.fullName + ' 🡒 ' + toCurrency.fullName + ')'}"></p>
<h3>
    Current exchange rate is
    <span th:text="${'1 ' + fromCurrency.shortName + ' = ' + entries[0].rate + ' ' + toCurrency.shortName + ' (' + lastChange + ')'}" />
</h3>
<h3>Development of exchange rate in near past:</h3>
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Exchange rate</th>
        </tr>
    </thead>
    <tbody th:each="entry : ${entries}">
        <tr>
            <td th:text="${entry.timestamp}" />
            <td th:text="${entry.rate}" />
        </tr>
    </tbody>
</table>
</body>
</html>